@import 'tailwindcss';

@theme {
  --primary-black: #121212;
  --primary-green: #1ed760;
  --secondary-green: #1db954;
  --white: #ffffff;
  --light-green: #f3fbf4;
  --light-zinc: #f4f4f5;
  --light-gray: #e4e4e7;
  --gray-background: #fafafa;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container {
  @apply mx-auto md:px-8 lg:px-12;
}
.wrapper {
  @apply max-w-[1440px] mx-auto;
}
