@import 'tailwindcss';

@theme {
  --primary-black: #121212;
  --primary-green: #1ed760;
  --secondary-green: #1db954;
  --white: #ffffff;
  --light-green: #f3fbf4;
  --light-zinc: #f4f4f5;
  --light-gray: #e4e4e7;
  --gray-background: #fafafa;
}

.container {
  @apply mx-4 md:mx-8 lg:mx-12;
}
